<%- include('./partials/head') %>
<h1>Hola mundo</h1>
<ul>
    <% alumnos.forEach(alumno => { %>
        <li><%= alumno.fname %> <%= alumno.lname %> <% if (alumno.age) { %>
            (<%= alumno.age%> )
        <% } %></li>
    <% }) %>
</ul> 